doctype html

html(lang="en-US")

  head
    title Hours Per Week Calculator
    meta(charset="UTF-8")

  body
    header
      h1 Hours Per Week Calculator
      block headerLinks
      
    main 
      block main