extends layout 

block main
  if strats == undefined || strats.length === 0
    p#no_list You don't have any strategies listed. Why not create one?
  else
    ul#strats
      each strat in strats
        li(class=strat)
          a(href=`/strategies/${strat.id}`)
            h2=strat.title + ' ' + strat.targetDate.toLocaleDateString()

block headerLinks
  .actions
    a.add(href="/strategies/new") New Strategy
